{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="content-section">
    <div class="container">
        <h2>Join Today</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <div class="border-top pt-3">
            <small>
                Already Have An Account? <a href="{% url 'login' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
</section>
{% endblock content %}